:root {
    --border-left: 5px solid #CB4E0B;
    --border-bottom: 3px solid #CB4E0B;
    --interest-button: #CB4E0B;
    --checked-interest-button: #CB4E0B;
    --hover-send-button: #EA580C;
    --send-button: #C2410C;
    --stroke: 1px solid #C1C4C8;

}
body {
    background-color: #F2F6FA;
    font-family: "Noto Sans Bhaiksuki", sans-serif;
}

.container {
    padding: 0 1rem;
    margin: 0 auto; 
    
}
/* style */


h2 {
    font-size: 1.75rem;
    font-weight: bold;
    border-left: var(--border-left);
    padding-left: .25rem;
    border-bottom: var(--border-bottom);
    width: max-content; 
    margin-bottom: 1.6875rem;
}

p {
    font-size: 1rem;
    line-height: 150%;
}

header {
    margin-bottom: 2rem;
    padding-top: 3rem;
}
.inner-header-container p {
    padding-bottom: 2rem;
}
.inner-header-container {
    display: flex;
    flex-wrap: wrap;
    
}
.inner-header-container div,
.inner-header-container img {
    flex-basis: 300px;
    flex-grow: 1;
    max-inline-size: 100%;
    
} 

form {
    background-color: white;
    box-shadow: var(--box-shadow);
    padding: 2rem 1rem;
}

form label:not(input[type="radio"] + label, input[type="checkbox"] + label) {
    display: block;
    width: 100%;
    margin-bottom: 0.5rem;
    line-height: 1.5;
}
form input:not([type="radio"], [type="checkbox"], [type="submit"]),
select,
textarea {
    border: var(--stroke);
    border-radius: .5rem;
    height: 3.25rem;
    padding: 1rem .75rem;
    width: 100%;
 
}

fieldset {
    border: none;
    padding: 0;
    color: #666;
}
div {
    margin-bottom: 2rem;
}
 
fieldset label:has(input[type="radio"]:checked) {
    background-color: var(--checked-interest-button);
    color: #fff;
}

form fieldset:nth-of-type(1) label {
    padding: 1.0625rem  3rem;
    border-radius: .5rem;
    border: var(--stroke);
    cursor: pointer;
    flex-grow: 1;
    flex-basis: calc((20rem - 100%) * 999);
 
    /* Constraints to keep items usable after the switch */
    min-inline-size: min(100%, 16rem);
    max-inline-size: 100%;
    text-align: center;
    white-space: nowrap;
 
}
span {
    margin-right: 1.125rem;
}

fieldset>div {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
}

form textarea {
    max-height: 16rem;
    min-height: 12.5rem;
    resize: vertical;
}
input[type="submit"] {
    background-color: var(--send-button);
    border: none;
    border-radius: .5rem;
    color: white;
    cursor: pointer;
    padding: .75rem .5rem;
    width: 100%;
    transition: all 0.3s ease;
 
}
 
input[type="submit"]:hover {
    background-color: var(--hover-send-button);
    letter-spacing: .5rem;
   
}